@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>绿都来访需求信息申报</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    @*<link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">*@
    <!-- Waves Effect Css -->
    @*<link href="~/plugins/node-waves/waves.css" rel="stylesheet" />*@
    <!-- Animation Css -->
    @*<link href="~/plugins/animate-css/animate.css" rel="stylesheet" />*@
    <!-- Morris Chart Css-->
    @*<link href="~/plugins/morrisjs/morris.css" rel="stylesheet" />*@
    <!-- Multi Select Css -->
    @*<link href="~/plugins/multi-select/css/multi-select.css" rel="stylesheet">*@
    <!-- Bootstrap Spinner Css -->
    @*<link href="~/plugins/jquery-spinner/css/bootstrap-spinner.css" rel="stylesheet">*@
    <!-- Bootstrap Select Css -->
    @*<link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />*@
    <!-- Custom Css -->
    @*<link href="~/css/style.css" rel="stylesheet">*@
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    @*<link href="~/css/themes/all-themes.css" rel="stylesheet" />*@

    <!-- Bootstrap Core Css -->
    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="~/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Colorpicker Css -->
    <link href="~/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <!-- Dropzone Css -->
    <link href="~/plugins/dropzone/dropzone.css" rel="stylesheet">
    <!-- Multi Select Css -->
    <link href="~/plugins/multi-select/css/multi-select.css" rel="stylesheet">
    <!-- Bootstrap Spinner Css -->
    <link href="~/plugins/jquery-spinner/css/bootstrap-spinner.css" rel="stylesheet">
    <!-- Bootstrap Tagsinput Css -->
    <link href="~/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
    <!-- Bootstrap Select Css -->
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- noUISlider Css -->
    <link href="~/plugins/nouislider/nouislider.min.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Sweetalert Css -->
    <link href="~/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/css/themes/all-themes.css" rel="stylesheet" />

    <style>
        .card label {
            font-size: 1.2em;
        }

        .card input {
            font-size: 1.2em;
        }

        .card textarea {
            font-size: 1.2em;
        }

        section.content {
            margin: 60px 15px 0 315px;
            -moz-transition: 0.5s;
            -o-transition: 0.5s;
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }

        /*.card {
            background: #fff;
            min-height: 0px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            position: relative;
            margin-bottom: 30px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            border-radius: 2px;
            margin-top: 60px;
        }*/
    </style>
</head>
<body class="theme-indigo">

    @{
        System.Data.DataTable dt = (System.Data.DataTable)ViewData["ds"];
    <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="preloader">
                    <div class="spinner-layer pl-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p>Please wait...</p>
            </div>
        </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
        <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
        @*<div class="search-bar">
                <div class="search-icon">
                    <i class="material-icons">search</i>
                </div>
                <input type="text" placeholder="搜索名称/事业部">
                <div class="close-search">
                    <i class="material-icons">close</i>
                </div>
            </div>*@
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img src="~/images/logo.png" width="140" height="40" />
                    @*<a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>*@
                    @*<a href="javascript:void(0);" class="navbar-toggle js-search" data-close="true"><i class="material-icons">search</i></a>*@

                    @*<a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>*@

                    @*<a href="javascript:void(0);" class="bars"></a>*@
                    <a class="" style="color: #ffffff; font-size: 16px;margin-left:15px;" href="index.html">|</a>
                    <a class="" style="color: #ffffff; font-weight: bold; font-size: 18px;margin-left:10px;" href="index.html">访客申报</a>
                    @*<a class="navbar-brand" href="index.html">ADMINBSB - MATERIAL DESIGN</a>*@

                    @*<a onclick="copyText()"><i class="material-icons pull-right col-blue">content_copy</i> </a>*@
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Call Search -->
                        @*<li class="pull-right"><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>*@
                        <!-- #END# Call Search -->
                        <!-- Notifications -->
                        <!-- #END# Notifications -->
                        <!-- Tasks -->
                        <!-- #END# Tasks -->

                    </ul>
                </div>
            </div>
        </nav>
    <!-- #Top Bar -->

        @*<div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">*@
        if (dt.Rows.Count > 0)
        {
            <div class="card" style="margin-top: 60px; margin-left: 10px; margin-right: 10px; margin-bottom:0px;">
                <div class="header bg-indigo">
                    <h2>
                        员工申报信息
                    </h2>
                    @*<small>
                            <div style="padding:0px 15px 0px 15px; background-color: #f5f5f5; ">
                                <br />
                                尊敬的绿都员工：<br />
                                &nbsp; &nbsp; &nbsp; &nbsp; 绿都地产为应对疫情影响，积极安排相关措施，降低疫情对后续项目的负面影响，需各员工对供应商来访需求信息进行申报。感谢您对绿都地产一如既往的支持！ <br />
                                <br />
                                绿都地产<br />
                                二O二O年三月九日<br />
                                <br />
                            </div>
                        </small>*@

                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a onclick="EmployeeSubmit_onclick()">复制链接内容</a></li>
                                <li role="separator" class="divider"></li>
                                @*方法在dialogs.js*@
                                @{
                                    int days = ((TimeSpan)(System.DateTime.Now - Convert.ToDateTime(dt.Rows[0]["VisitDate"]))).Days;
                                    if (days > 0 )
                                    {
                                        if (dt.Rows[0]["Type1"].ToString() == String.Empty)
                                        {
                                            <li><a class="js-sweetalert" onclick="showCancelMessageIsCome('@ViewData["code"]')">来访确认</a></li>
                                        }
                                    }
                                    if (days >= 7 )
                                    { 
                                        if (dt.Rows[0]["Type2"].ToString() == String.Empty)
                                        {
                                            <li><a class="js-sweetalert" onclick="showCancelMessage7('@ViewData["code"]')">7天健康确认</a></li>
                                        }
                                    }
                                    if (days >= 14)
                                    { 
                                        if (dt.Rows[0]["Type3"].ToString() == String.Empty)
                                        {
                                            <li><a class="js-sweetalert" onclick="showCancelMessage14('@ViewData["code"]')">14天健康确认</a></li>
                                        }
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="body">
                    <form id="form_validation" method="POST">
                        <div class="demo-masked-input">
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <b>申请公司<span style="color:red;">*</span></b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">place</i>
                                        </span>
                                        <div class="form-line">
                                            <input id="Company" type="text" class="form-control" required value="@dt.Rows[0]["Company"]" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <b>申请部门<span style="color:red;">*</span></b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">pin_drop</i>
                                        </span>
                                        <div class="form-line">
                                            <input id="Department" type="text" class="form-control" value="@dt.Rows[0]["Department"]" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <b>申请人姓名<span style="color:red;">*</span></b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">contacts</i>
                                        </span>
                                        <div class="form-line">
                                            <input id="UserName" type="text" class="form-control" value="@dt.Rows[0]["UserName"]" readonly="readonly">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <b>是否已报备部门负责人并同意<span style="color:red;">*</span></b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">euro_symbol</i>
                                        </span>

                                        <select id="IsDeclare" class="form-control show-tick" title="@dt.Rows[0]["IsDeclare"]">
                                            <option>请选择...</option>
                                            <option>是</option>
                                            <option>否</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row clearfix">

                                <div class="col-md-3">
                                    <b id="bProjectInfo">需求原因<span style="color:red;">*</span></b>
                                    @*<small style="color:red;">（多项目的请逐行填写）</small>*@
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">computer</i>
                                        </span>
                                        <div class="form-line">
                                            <input id="Reason" type="text" class="form-control" placeholder="" value="@dt.Rows[0]["Reason"]">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <b>申请来访公司<span style="color:red;">*</span></b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">business</i>
                                        </span>

                                        <select id="VisitCompany" class="form-control show-tick" onchange="VisitCompany_onchange()" title="@dt.Rows[0]["VisitCompany"]">
                                            <option>请选择...</option>
                                            <option>集团总部</option>
                                            <option>郑州事业部</option>
                                            <option>杭州事业部</option>
                                            <option>洛阳事业部</option>
                                            <option>上海事业部</option>
                                            <option>合肥事业部</option>
                                            <option>物业事业部</option>
                                            <option>建工事业部</option>
                                            <option>商业管理中心</option>
                                            <option>汇通能源</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <b>申请来访地点<span style="color:red;">*</span></b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">edit_location</i>
                                        </span>

                                        <select id="Address" class="form-control show-tick" title="@dt.Rows[0]["Address"]">
                                            <option>请选择...</option>
                                        </select>
                                    </div>
                                </div>
                                @*<div class="col-md-3">
                                        <b id="bProjectInfo">申请来访地点<span style="color:red;">*</span></b>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">edit_location</i>
                                            </span>
                                            <div class="form-line">
                                                <input id="Address" type="text" class="form-control" placeholder="">
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="col-md-3">
                                    <b>申请来访日期<span style="color:red;">*</span></b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">date_range</i>
                                        </span>
                                        <div class="form-line">
                                            <input id="VisitDate" type="text" class="form-control" placeholder="2019/12/31" value="@dt.Rows[0]["VisitDate"]">
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row clearfix">
                                <div class="col-md-3">
                                    <b>来访时间段<span style="color:red;">*</span></b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">date_range</i>
                                        </span>
                                        <div class="form-line">
                                            <input id="VisitTime" type="text" class="form-control" placeholder="09：00-10：00" value="@dt.Rows[0]["VisitTime"]">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <b id="bIDays">来访人数<span id="spanIDays" style="color:red;">*</span></b>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">event_available</i>
                                        </span>
                                        <div class="form-line">
                                            @*<input type="text" class="form-control email" placeholder="Ex: example@example.com">*@
                                            <input id="NumVisitors" type="text" class="form-control" data-rule="quantity" value="@dt.Rows[0]["NumVisitors"]">
                                            @*<div class="input-group spinner" data-trigger="spinner">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control text-center" value="1" data-rule="quantity">
                                                    </div>
                                                    <span class="input-group-addon">
                                                        <a href="javascript:;" class="spin-up" data-spin="up"><i class="glyphicon glyphicon-chevron-up"></i></a>
                                                        <a href="javascript:;" class="spin-down" data-spin="down"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                                    </span>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-3">
                                    <b id="bProjectInfo">供应商名称<span style="color:red;">*</span></b>
                                    @*<small style="color:red;">（多项目的请逐行填写）</small>*@
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">chat</i>
                                        </span>
                                        <div class="form-line">
                                            <input id="SupplierName" type="text" class="form-control" placeholder="" value="@dt.Rows[0]["SupplierName"]">
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>







                    </form>

                </div>

            </div>

            @*</div>
                </div>*@

            @*<div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">*@
            if (dt.Rows[0]["cID"].ToString() != "")
            {
                for (int i = 0; i < dt.Rows.Count; i++)
                {
                    <div class="card" style="margin-left: 10px; margin-right: 10px; margin-bottom: 0px">
                        <div class="header  bg-blue">
                            <h2>
                                @(i + 1)、访客申报信息-@dt.Rows[i]["CName"]
                            </h2>
                            @*<small>
                                    <div style="padding:0px 15px 0px 15px; background-color: #f5f5f5; ">
                                        <br />
                                        尊敬的绿都合作伙伴：<br />
                                        &nbsp; &nbsp; &nbsp; &nbsp; 近期各地陆续爆发新型冠状病毒感染的肺炎，面对突发而来的疫情，绿都地产为应对疫情影响，积极安排相关措施，需供应商来访积极配合填写防疫信息登记表。感谢您对绿都地产一如既往的支持！ <br />
                                        &nbsp; &nbsp; &nbsp; &nbsp; 本防疫信息采集，只用于绿都地产内部统计分析，不会外传。<br />
                                        <br />
                                        绿都地产<br />
                                        二O二O年二月九日<br />
                                        <br />
                                    </div>
                                </small>*@
                            @*<ul class="header-dropdown m-r--5">
                                    <li class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="javascript:void(0);">Action</a></li>
                                            <li><a href="javascript:void(0);">Another action</a></li>
                                            <li><a href="javascript:void(0);">Something else here</a></li>
                                        </ul>
                                    </li>
                                </ul>*@
                        </div>

                        <div class="body">
                            <form id="form_validation" method="POST">
                                <div class="demo-masked-input">
                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <b>是否承诺：以下信息认真填写、且保证真实<span style="color:red;">*</span></b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">euro_symbol</i>
                                                </span>

                                                <select id="IsPromise" class="form-control show-tick" title="@dt.Rows[i]["IsPromise"]">
                                                    <option>请选择...</option>
                                                    <option>是</option>
                                                    <option>否</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <b>来访单位名称<span style="color:red;">*</span></b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">contacts</i>
                                                </span>
                                                <div class="form-line">
                                                    <input id="Supplier" type="text" class="form-control" required value="@dt.Rows[i]["Supplier"]">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <b>姓名<span style="color:red;">*</span></b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">person</i>
                                                </span>
                                                <div class="form-line">
                                                    <input id="CName" type="text" class="form-control" value="@dt.Rows[i]["CName"]">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <b>联系电话<span style="color:red;">*</span></b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">phone_iphone</i>
                                                </span>
                                                <div class="form-line">
                                                    <input id="Telephone" type="text" class="form-control" value="@dt.Rows[i]["Telephone"]">
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <b>身份证号<span style="color:red;">*</span></b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">place</i>
                                                </span>
                                                <div class="form-line">
                                                    <input id="IDNumber" type="text" class="form-control" value="@dt.Rows[i]["IDNumber"]">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <b>当日体温<span style="color:red;">*</span></b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">place</i>
                                                </span>
                                                <div class="form-line">
                                                    <input id="Temperature" type="text" class="form-control" value="@dt.Rows[i]["Temperature"]">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <b>14日内本人及同住人员是否途经或从上海浦东新区/天津滨海新区/安徽颍上县/内蒙古满洲里/新疆/港澳台/境外返回<span style="color:red;">*</span></b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">euro_symbol</i>
                                                </span>

                                                <select id="IsPass" class="form-control show-tick" title="@dt.Rows[i]["IsPass"]">
                                                    <option>请选择...</option>
                                                    <option>是</option>
                                                    <option>否</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <b>14日内本人及同住人员是否接触从上海浦东新区/天津滨海新区/安徽颍上县/内蒙古满洲里/新疆/港澳台/境外返回人员<span style="color:red;">*</span></b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">euro_symbol</i>
                                                </span>

                                                <select id="IsContact" class="form-control show-tick" title="@dt.Rows[i]["IsContact"]">
                                                    <option>请选择...</option>
                                                    <option>是</option>
                                                    <option>否</option>
                                                </select>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <b>14日内本人及同住人员是否接触过疑似/确诊病例、无症状感染者或行动轨迹重合<span style="color:red;">*</span></b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">euro_symbol</i>
                                                </span>

                                                <select id="IsCoincidence" class="form-control show-tick" title="@dt.Rows[i]["IsCoincidence"]">
                                                    <option>请选择...</option>
                                                    <option>是</option>
                                                    <option>否</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <b>14日内本人及同住人员是否在发热门诊就医<span style="color:red;">*</span></b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">euro_symbol</i>
                                                </span>

                                                <select id="IsSeeDoctor" class="form-control show-tick" title="@dt.Rows[i]["IsSeeDoctor"]">
                                                    <option>请选择...</option>
                                                    <option>是</option>
                                                    <option>否</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <b>14日内本人及同住人员是否有发热/咳嗽/鼻塞/流涕/腹泻/咽痛/呼吸困难/味觉、嗅觉改变等不适症状<span style="color:red;">*</span></b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">euro_symbol</i>
                                                </span>

                                                <select id="Isolated" class="form-control show-tick" title="@dt.Rows[i]["Isolated"]">
                                                    <option>请选择...</option>
                                                    <option>是</option>
                                                    <option>否</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <b>是否承诺：1、本人在绿都办公区期间及从绿都办公区返回后14天内，若本人及同住人员出现发热/咳嗽/鼻塞/流涕/腹泻/咽痛/呼吸困难/味觉、嗅觉改变等不适症状/被判定为疑似、确诊病例、无症状感染者，需第一时间告知绿都对接部门，并遵循指示尽速隔离、就近至定点医院就医，并向绿都对口部门及时、如实同步病情和诊断结果。2、配合绿都进行来访后14天内的健康追踪。<span style="color:red;">*</span></b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">euro_symbol</i>
                                                </span>

                                                <select id="IsInform" class="form-control show-tick" title="@dt.Rows[i]["IsInform"]">
                                                    <option>请选择...</option>
                                                    <option>是</option>
                                                    <option>否</option>
                                                </select>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <b id="bDescribe">当前居住地（精确到门牌号）<span id="spanDescribe" style="color:red;">*</span></b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">rate_review</i>
                                                </span>
                                                <div class="form-line">
                                                    <input id="CurrentAddress" type="text" class="form-control" placeholder="河南省郑州市二七区某某小区X号楼X单元1001" value="@dt.Rows[i]["CurrentAddress"]">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <b id="bDescribe">申请来访地点<span id="spanDescribe" style="color:red;">*</span></b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">rate_review</i>
                                                </span>
                                                <div class="form-line">
                                                    <input id="VisitAddress" type="text" class="form-control" readonly="readonly" value="@dt.Rows[i]["VisitAddress"]">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <b id="bDescribe">其他事项说明<span id="spanDescribe" style="color:red;">*</span></b>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="material-icons">rate_review</i>
                                                </span>
                                                <div class="form-line">
                                                    <input id="Oexplain" type="text" class="form-control" value="@dt.Rows[i]["Oexplain"]">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                                @*<div class="row clearfix">
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary m-t-15 waves-effect pull-right" onclick="EmployeeSubmit_onclick()">提交</button>

                                        </div>
                                    </div>*@





                            </form>

                        </div>
                    </div>
                }
            }


            @*</div>
                </div>*@
            <button id="btnContent" style="opacity: 0;fliter: alpha(opacity=0);" type="button" class="btn btn-default waves-effect" data-toggle="modal" data-target="#smallModal">MODAL - SMALL SIZE</button>
        <!-- Small Size -->
            <div class="modal fade" id="smallModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="smallModalLabel">请将此内容发送给您的访客</h4>
                        </div>
                        <div class="modal-body">
                            <b>
                                亲爱的客户：
                            </b><br />
                            新冠肺炎疫情期间，为了保护您及家人的健康安全，以下几点需要您的配合：<br />
                            1、来访前：了解您及同住人员近14天内出行及身体状况，请填写以下信息：<div id="url">http://kpxx.lvdu-dc.com:82/YQ/CustomerBef?Code=@dt.Rows[0]["ID"]</div>
                            <br />
                            2、入司前：配合测量体温→手部消毒→更换为您提供的口罩→携带文件、物品消毒
                            <br />
                            3、来访中：全程佩戴口罩，并保持安全距离（1m以上）
                            <br />
                            4、来访后：了解您及同住人员离开办公区后14天内健康状况
                            <br />
                            来访期间若本人及同住人员出现发热、咳嗽、腹泻、乏力等不适症状或被判定为疑似/确诊病例，请及时告知我方人员。
                            <br />
                            感谢您理解与支持！
                            <br /><br />

                            绿都地产<br />
                            2021年7月<br />
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-link waves-effect" onclick="copyText()">复制内容</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">关闭</button>
                        </div>
                        @*测试弹出层提示复制成功*@
                        <div class="row clearfix jsdemo-notification-button">
                            <button id="btnCopyAlert" style="opacity: 0;fliter: alpha(opacity=0);" type="button" class="btn bg-blue btn-block waves-effect" data-placement-from="bottom" data-placement-align="left"
                                    data-animate-enter="" data-animate-exit="" data-color-name="bg-blue">
                                BLUE
                            </button>
                        </div>
                    </div>
                </div>
                <textarea id="inputContent" style="opacity: 0;fliter: alpha(opacity=0);">
亲爱的客户：
新冠肺炎疫情期间，为了保护您及家人的健康安全，以下几点需要您的配合：
1、来访前：了解您及同住人员近14天内出行及身体状况，请填写以下信息：http://kpxx.lvdu-dc.com:82/YQ/CustomerBef?Code=@dt.Rows[0]["ID"]
2、入司前：配合测量体温→手部消毒→更换为您提供的口罩→携带文件、物品消毒
3、来访中：全程佩戴口罩，并保持安全距离（1m以上）
4、来访后：了解您及同住人员离开办公区后14天内健康状况
来访期间若本人及同住人员出现发热、咳嗽、腹泻、乏力等不适症状或被判定为疑似/确诊病例，请及时告知我方人员。
感谢您理解与支持！
绿都地产
2020年3月

                </textarea>
            </div>

        }

    }
    <script type="text/javascript">

        window.onload = function () {
            //加载复制事件
            $('.jsdemo-notification-button button').on('click', function () {
                var placementFrom = $(this).data('placement-from');
                var placementAlign = $(this).data('placement-align');
                var animateEnter = $(this).data('animate-enter');
                var animateExit = $(this).data('animate-exit');
                var colorName = $(this).data('color-name');

                showNotification(colorName, "复制成功", placementFrom, placementAlign, animateEnter, animateExit);
            });
        }

        //选择“申请来访公司”后修改“申请来访地点”
        function VisitCompany_onchange() {
            var VisitCompany = $("#VisitCompany option:selected").text();
            //alert(VisitCompany);
            $.post("/YQ/GetAddress", {
                VisitCompany: VisitCompany

            }, function (response) {
                var list = $.parseJSON(response);
                //alert(response);
                var Address = document.getElementById("Address");
                $("#Address").empty();
                Address.options.add(new Option("请选择...", "请选择..."));
                //遍历集合显示数据
                for (var i = 0; i < list.length; i++) {
                    //alert(list[i].Address);
                    Address.options.add(new Option(list[i].Address, list[i].Address));
                }
                //使用refresh方法更新UI以匹配新状态。
                $('#Address').selectpicker('refresh');
                //render方法强制重新渲染引导程序 - 选择ui。
                $('#Address').selectpicker('render');


            });
        }


        //员工申报来访信息
        function EmployeeSubmit_onclick() {
            document.getElementById("btnContent").click();

        }

        //复制
        function copyText() {
            var input = document.getElementById("inputContent");
            input.select(); // 选中文本
            document.execCommand("copy"); // 执行浏览器复制命令
            //alert("复制成功");

            document.getElementById("btnContent").click();
            document.getElementById("btnCopyAlert").click();
        }

        //验证日期格式
        function isDate(dateString) {
            if (dateString.trim() == "") {
                alert("请输入日期");
                return false;
            }
            var r = dateString.match(/^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2})$/);
            if (r == null) {
                alert("请输入格式正确的日期\n\r日期格式：yyyy-mm-dd\n\r例    如：2020-01-01\n\r");
                return false;
            }
            var d = new Date(r[1], r[3] - 1, r[4]);
            var num = (d.getFullYear() == r[1] && (d.getMonth() + 1) == r[3] && d.getDate() == r[4]);
            if (num == 0) {
                alert("请输入格式正确的日期\n\r日期格式：yyyy-mm-dd\n\r例    如：2020-01-01\n\r");
            }
            return (num != 0);
        }

        // 验证手机号格式
        function isPhoneNo(phone) {
            var pattern = /^1[34578]\d{9}$/;
            return pattern.test(phone);
        }

        //弹出复制提示框
        function showNotification(colorName, text, placementFrom, placementAlign, animateEnter, animateExit) {

            if (colorName === null || colorName === '') { colorName = 'bg-black'; }
            if (text === null || text === '') { text = 'Turning standard Bootstrap alerts'; }
            if (animateEnter === null || animateEnter === '') { animateEnter = 'animated fadeInDown'; }
            if (animateExit === null || animateExit === '') { animateExit = 'animated fadeOutUp'; }
            var allowDismiss = true;

            $.notify({
                message: text
            },
                {
                    type: colorName,
                    allow_dismiss: allowDismiss,
                    newest_on_top: true,
                    timer: 1000,
                    placement: {
                        from: placementFrom,
                        align: placementAlign
                    },
                    animate: {
                        enter: animateEnter,
                        exit: animateExit
                    },
                    template: '<div data-notify="container" class="bootstrap-notify-container alert alert-dismissible {0} ' + (allowDismiss ? "p-r-35" : "") + '" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
                });

        }


        function showCancelMessageIsCome(code) {
            //alert(code);

            swal({
                title: "客户是否来访?",
                text: "请确认您的客户当天是否来访!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "是，已经来访!",
                cancelButtonText: "否, 没有来访!",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $.post("/YQ/SetVisitConfirmation", {
                        EmployeeID: code,
                        Type: 1,
                        Describe: "是否来访",
                        YesOrNo: 1

                    }, function (response) {
                        swal("是，已经来访!", "您选择的“是”!", "success");
                        window.location.href = "/YQ/EmployeeList";
                    });
                } else {
                    $.post("/YQ/SetVisitConfirmation", {
                        EmployeeID: code,
                        Type: 1,
                        Describe: "是否来访",
                        YesOrNo: 0

                    }, function (response) {
                        swal("否, 没有来访!", "您选择的“否”!", "success");
                        window.location.href = "/YQ/EmployeeList";
                    });

                }
            });
        }

        function showCancelMessage7(code) {
            //alert(code);
            swal({
                title: "客户是否异常?",
                text: "7天后，来访人员及其同住人员是否有异常情况（身体健康状况及确诊/疑似病例接触风险）!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "是，异常!",
                cancelButtonText: "否, 没有异常!",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $.post("/YQ/SetVisitConfirmation", {
                        EmployeeID: code,
                        Type: 2,
                        Describe: "7天客户是否异常",
                        YesOrNo: 1

                    }, function (response) {
                        swal("是，异常!", "您选择的“是”!", "success");
                        window.location.href = "/YQ/EmployeeList";
                    });
                } else {
                    $.post("/YQ/SetVisitConfirmation", {
                        EmployeeID: code,
                        Type: 2,
                        Describe: "7天客户是否异常",
                        YesOrNo: 0

                    }, function (response) {
                        swal("否, 没有异常!", "您选择的“否”!", "success");
                        window.location.href = "/YQ/EmployeeList";
                    });
                }
            });
        }

        function showCancelMessage14(code) {
            //alert(code);
            swal({
                title: "客户是否异常?",
                text: "14天后，来访人员及其同住人员是否有异常情况（身体健康状况及确诊/疑似病例接触风险）!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "是，异常!",
                cancelButtonText: "否, 没有异常!",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    $.post("/YQ/SetVisitConfirmation", {
                        EmployeeID: code,
                        Type: 3,
                        Describe: "14天客户是否异常",
                        YesOrNo: 1

                    }, function (response) {
                        swal("是，异常!", "您选择的“是”!", "success");
                        window.location.href = "/YQ/EmployeeList";
                    });
                } else {
                    $.post("/YQ/SetVisitConfirmation", {
                        EmployeeID: code,
                        Type: 3,
                        Describe: "14天客户是否异常",
                        YesOrNo: 0

                    }, function (response) {
                        swal("否, 没有异常!", "您选择的“否”!", "success");
                        window.location.href = "/YQ/EmployeeList";
                    });
                }
            });
        }
    </script>



    <!-- Jquery Core Js -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select Plugin Js -->
    <script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Bootstrap Colorpicker Js -->
    <script src="~/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <!-- Dropzone Plugin Js -->
    <script src="~/plugins/dropzone/dropzone.js"></script>
    <!-- Input Mask Plugin Js -->
    <script src="~/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
    <!-- Multi Select Plugin Js -->
    <script src="~/plugins/multi-select/js/jquery.multi-select.js"></script>
    <!-- Jquery Spinner Plugin Js -->
    <script src="~/plugins/jquery-spinner/js/jquery.spinner.js"></script>
    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="~/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <!-- noUISlider Plugin Js -->
    <script src="~/plugins/nouislider/nouislider.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/plugins/node-waves/waves.js"></script>
    <!-- Bootstrap Notify Plugin Js -->
    <script src="~/plugins/bootstrap-notify/bootstrap-notify.js"></script>
    <!-- SweetAlert Plugin Js -->
    <script src="~/plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Custom Js -->
    <script src="~/js/admin.js"></script>
    <script src="~/js/pages/ui/dialogs.js"></script>
    <script src="~/js/pages/forms/advanced-form-elements.js"></script>
    <!-- Jquery Validation Plugin Css -->
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>


    <!-- Demo Js -->
    <script src="~/js/demo.js"></script>

</body>
</html>
