@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>开票信息</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Waves Effect Css -->
    <link href="~/plugins/node-waves/waves.css" rel="stylesheet" />
    <!-- Animation Css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Morris Chart Css-->
    <link href="~/plugins/morrisjs/morris.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/css/themes/all-themes.css" rel="stylesheet" />

    <style>
        html {
            font-size: 0.7em;
        }

        a {
            color: #777;
            text-decoration: none;
        }

        section.content {
            margin: 60px 15px 0 315px;
            -moz-transition: 0.5s;
            -o-transition: 0.5s;
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }

        .list-group {
            padding-left: 0;
            margin-bottom: 20px;
            margin-top: 60px;
        }

        button, input, select, a {
            outline: none !important;
            font-size: 1.5rem;
        }

            a:active {
                color: black; /*鼠标点击时的颜色*/
            }

            a:visited {
                color: #777; /*已访问的链接颜色*/
            }
    </style>
    <script src="~/js/webView.js"></script>
    <script type="text/javascript">


        //$(document).ready(function () {
        //    //do something

        //    var u = navigator.userAgent;
        //    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端

        //    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端

        //    var h5_config = {};
        //    var token = "";
        //    if (isiOS) {
        //        window.h5InitConfigCallback = function (d) {
        //            if (typeof (d) != "undefined") {
        //                h5_config = JSON.parse(d);
        //                localStorage.token = h5_config.token;
        //                localStorage.baseUrl = h5_config.apiURLPrefix;
        //                token = h5_config.token;
        //                //next();
        //                location.href = '/KP/index?token=' + token;
        //            }
        //        }
        //        webView.callNative("h5InitConfig")
        //    }
        //    else if (isAndroid) {

        //        if (typeof (window.eoopWebView) != "undefined") {
        //            h5_config = window.eoopWebView.h5InitConfig();

        //            h5_config = JSON.parse(h5_config);

        //            localStorage.token = h5_config.token;
        //            token = h5_config.token;

        //            localStorage.baseUrl = h5_config.apiURLPrefix;

        //            //next();
        //            location.href = '/KP/index?token=' + token;
        //        }
        //    }

        //    //alert('登录成功');
        //})





        function a_onclick(id, name) {
            //alert(id);
            window.location.href = "/KP/Info?name=" + name + "&id=" + id;
        }
    </script>
</head>
<body class="theme-red">
    @{
        System.Data.DataTable dt = (System.Data.DataTable)ViewData["dsBilling"];
    <!-- Page Loader -->
        <div class="page-loader-wrapper">
            <div class="loader">
                <div class="preloader">
                    <div class="spinner-layer pl-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p>Please wait...</p>
            </div>
        </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
        <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
        <div class="search-bar">
            <div class="search-icon" onclick="search_onclick()">
                <i class="material-icons">search</i>
            </div>
            <input id="txtSearch" type="text" placeholder="搜索名称/事业部">
            <div class="close-search">
                <i class="material-icons">close</i>
            </div>
        </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img src="~/images/logo.png" width="140" height="40" />
                    @*<a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>*@
                    <a href="javascript:void(0);" class="navbar-toggle js-search" data-close="true">@*<i class="material-icons">search</i>*@</a>

                    @*<a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>*@

                    @*<a href="javascript:void(0);" class="bars"></a>*@
                    <a class="" style="color: #ffffff; font-size: 16px;margin-left:15px;" href="index.html">|</a>
                    <a class="" style="color: #ffffff; font-weight: bold; font-size: 18px;margin-left:10px;" href="index.html">开票信息</a>
                    @*<a class="navbar-brand" href="index.html">ADMINBSB - MATERIAL DESIGN</a>*@
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Call Search -->
                        <li class="pull-right"><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                        <!-- #END# Call Search -->
                        <!-- Notifications -->
                        <!-- #END# Notifications -->
                        <!-- Tasks -->
                        <!-- #END# Tasks -->

                    </ul>
                </div>
            </div>
        </nav>
    <!-- #Top Bar -->




        <div class="list-group">
            @{
                if (dt.Rows.Count > 0)
                {
                    for (int i = 0; i < dt.Rows.Count; i++)
                    {
                        if (dt.Rows[i]["dsysDate"].ToString() != String.Empty)
                        {
                            @*<button type="button" class="list-group-item" name="@dt.Rows[i]["id"]"><a style="text-decoration: none;" onclick="a_onclick('@dt.Rows[i]["name"]')">@dt.Rows[i]["name"]</a><span class="badge bg-brown" onclick="Collect_click('@dt.Rows[i]["id"]')">取消</span></button>*@
                            <button type="button" class="list-group-item waves-effect waves-pink" name="@dt.Rows[i]["id"]"><a style="text-decoration: none;" onclick="a_onclick('@dt.Rows[i]["id"]','@dt.Rows[i]["name"]')">@dt.Rows[i]["name"]</a><a onclick="Collect_click('@dt.Rows[i]["id"]')"><i class="material-icons pull-right col-red">bookmark</i> </a></button>


                        }
                        else
                        {
                            @*<button type="button" class="list-group-item" name="@dt.Rows[i]["id"]"><a style="text-decoration: none;" onclick="a_onclick('@dt.Rows[i]["name"]')">@dt.Rows[i]["name"]</a><span class="badge bg-pink" onclick="Collect_click('@dt.Rows[i]["id"]')">收藏</span></button>*@
                            <button type="button" class="list-group-item waves-effect waves-pink" name="@dt.Rows[i]["id"]"><a style="text-decoration: none;" onclick="a_onclick('@dt.Rows[i]["id"]','@dt.Rows[i]["name"]')">@dt.Rows[i]["name"]</a><a onclick="Collect_click('@dt.Rows[i]["id"]')"><i class="material-icons pull-right col-red">bookmark_border</i> </a></button>
                        }


                        @*<button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>
                            <button type="button" class="list-group-item"><a href="Info">郑州同润置业有限公司</a></button>*@
                    }
                }
            }
        </div>



        @*<div class="list-group">
                @ViewData["code"]
            </div>*@
    }

    <script type="text/javascript">






        function search_onclick() {
            var value = $("#txtSearch").val();
            //if (value.length > 2) {
            window.location.href = "/KP/Click?name=" + value+ "&editName=";
            //}
        }

        function Collect_click(editname) {
            //alert(name);

            //$.post("/LDXX/SetCollect", { name: name }, function (aa) {
            //    //alert(aa);
            //}, "json");

            //window.location.href = "/LDXX/BillingList?name=";

            //$.ajax({
            //    type: "POST",
            //    url: "/LDXX/SetCollect",
            //    data: { name: name },
            //    success: function (sesponseTest) {

            //    }
            //});

            window.location.href = "/KP/Click?name=&editName=" + editname;
        }

    </script>
    @*<section class="content"></section>*@
    <!-- Jquery Core Js -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select Plugin Js -->
    <script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Waves Effect Plugin Js -->
    <script src="~/plugins/node-waves/waves.js"></script>
    <!-- Jquery CountTo Plugin Js -->
    <script src="~/plugins/jquery-countto/jquery.countTo.js"></script>
    <!-- Morris Plugin Js -->
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/morrisjs/morris.js"></script>
    <!-- ChartJs -->
    <script src="~/plugins/chartjs/Chart.bundle.js"></script>
    <!-- Flot Charts Plugin Js -->
    <script src="~/plugins/flot-charts/jquery.flot.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.time.js"></script>
    <!-- Sparkline Chart Plugin Js -->
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.js"></script>
    <!-- Custom Js -->
    <script src="~/js/admin.js"></script>
    <script src="~/js/pages/index.js"></script>
    <!-- Demo Js -->
    <script src="~/js/demo.js"></script>
</body>
</html>
